// Brand-specific overrides for Bootstrap
// Use this file ONLY for overriding Bootstrap's default theme values
// Custom components should go in _components.scss or _main.scss

// Add your Bootstrap framework override styles here

@import "variables";

.logo
{
    width: auto;
    max-width: 100%;
    margin: auto;
}

.welcome_img
{
    height: 35svh;
    object-fit: contain;
}

.branding
{
    display: flex;
}

.with-scroll {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    // padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 100px) !important;
    // padding-bottom: 100px !important;
}


.main-content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: env(safe-area-inset-top) ;
    padding-bottom: env(safe-area-inset-bottom) ;
    padding: 40px 20px;
    height: 100svh;
}

// input
.gradient-card
{
    padding: 2px 2px;
    display: block;
    border-radius: 10px;
    background: linear-gradient(90deg, #C6A445 0%, #BA7B10 18.51%, #E4D4AB 50%, #BA7B10 91.47%, #C6A445 100%);
}

.gradient-input
{
    width: 100%;
    padding: 2px 2px;
    overflow: hidden;
    display: block;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    background: linear-gradient(90deg, #C6A445 0%, #BA7B10 18.51%, #E4D4AB 50%, #BA7B10 91.47%, #C6A445 100%);

    & input {
        width: 100%;
        border-radius: 50px;
        background: linear-gradient(
            180deg,
            #E9D3A9 0.01%,
            #F5D293 59.13%,
            rgba(233, 211, 169, 0.99) 89.42%
        );

        &:focus {
            outline: none;
        }
    }
}

.scanner-input
{
    background: rgba(255, 255, 255, 0.3);
}

//card
.card-parent {
    border-radius: 25px;
    border: solid 3px #c7a444;
    background-color: #ebd3a7 !important;
}

//images
.station-icon
{
    width: 100%;
}

.snow-container 
{
    margin-bottom:-18px;
    position: relative;
    z-index: 10;
}

.snow_1{
    width: 90%;
    display:flex;
    margin:auto
}

.snow_2
{
    width: 90%;
    height:80%;
    display:flex;
    margin:auto
}

//tree
.tree-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: -40px;
    margin-left: -20px;
}

.tree-img {
    height: 7vh;
    // z-index: 1;
}


//buttons
.btn-container
{
    position:absolute;
    right: 24px;
}

.custom-btn
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 0px #000000CC inset;
    height: 40px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    line-height: 1;
    color: $primary;
    letter-spacing: 0;
    transition: all .2s ease-in-out;

}

.custom-btn-primary
{
    background: $primary-gradient
}

.custom-btn-secondary
{
    background: $secondary-gradient
}

.custom-btn-danger
{
    background: $danger
}

//text

.text-black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.text-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.heading {
    background: linear-gradient(
        135.34deg,
        #8C421D 15.43%,
        #FBE67B 38.47%,
        #FCFBE7 53.36%,
        #F7D14E 69.97%,
        #D4A041 86.26%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Fake border highlight using text-shadow */
    text-shadow:
        0px 4px 6px rgba(255, 255, 255, 0.6) inset;
}

.main-heading
{
    font-size: 18px;
    line-height: 24px;
}

.sub-heading
{
    line-height: 17px;
    font-size: 14px;
}
