// Bootstrap Variables Override
$primary: #824832;
$secondary: #FFEAB8;
$success: #198754;
$danger: #cd1f1f;
$warning: #ffc107;
$info: #0dcaf0;

$primary-gradient:linear-gradient(360deg, #F2B90D 45%, #F6CE55 55%);
$secondary-gradient:linear-gradient(360deg, #FFFAF4 45%, #EFEFEF 55%);

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Spacing
$spacer: 1rem;

// Border radius
$border-radius: 0.375rem;

// Add your custom brand variables here
$main-background: url('../images/main-bg.webp');
$main-header: url('../images/main-bg.webp');
$weekday-background: url('../images/main-bg.webp');
$weekend-background: url('../images/main-bg.webp');
$referral-background: url('../images/main-bg.webp');