/*
    BASE STYLES
    --- a ---
    This file contains base styles and sensible defaults that build upon
    Bootstrap's Reboot (its CSS reset) to ensure project-wide consistency.
*/

// Set a universal box-sizing model for more intuitive layouts.
// While Bootstrap does this, it's good practice to enforce it.
*,
*::before,
*::after {
    box-sizing: border-box;
}

@import "variables";

// Establish base body styles for typography and background.
body,
html {
    // Use the font family variable defined in _variables.scss
    font-family: $font-family;
    // Use the paragraph size for the default font size
    font-size: $paragraph;
    // A standard line-height for readability
    line-height: $line-height;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

// Make images responsive by default.
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

// Remove default list styles
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    text-align: center;
    position: relative;
    width: 100%;

    p {
        margin: 0;
        padding: 10px;
        font-size: 12px;
        color: $text;
    }
}

// set all text font
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
input,
textarea,
select,
input::placeholder {
    font-family: $font-family;
    color: $text;
    line-height: $line-height;
    margin: 0;
    letter-spacing: $letter-spacing;
    font-weight: 400;
}

label {
    margin-bottom: 5px;
    font-size: $small-text;
}

input,
textarea,
select {
    font-size: $small-text;
    color: $text;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    box-shadow: none;

    &:focus {
        border-color: $green;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    }
}

input::placeholder,
textarea::placeholder,
option,
.form-select {
    color: $gray-dark;
    opacity: 1;
    font-size: $small-text;
}

input[type="checkbox"],
input[type="radio"] {
    font-size: $paragraph;
    color: $white !important;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: $accent !important;
    border-color: $white;
}

// fix position on mobile for country select
.iti.iti--allow-dropdown {
    display: block;
    width: 100%;
}

.iti-mobile {
    .iti__country-list {
        width: 90vw;
        height: 80svh;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px !important;

        .iti__country-name {
            color: $card-text !important;
        }
    }
}

.iti--container {
    top: 30px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    position: fixed;
}

.card {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        color: $primary;
    }

    a {
        color: $black;
    }
}

.modal-content {
    border-radius: $modal-border-radius;
}