//colors
$primary: #ffff;
$accent:#005eab;
$white: #ffffff;
$gray: #cacacc;
$gray-light: #f5f5f5;
$gray-dark: #61646B;
$black: #000022;
$secondary: #ffff;
$green: #40a355;

$card-text: #61646B;
$text: $white;

// main font
$font-family: 'ProximaNova',sans-serif;

// font weights
$font-weight-regular: 400;
$font-weight-bold: 700;

//Text size

$paragraph: 16px;
$heading: 24px;
$subheading: 20px;
$small-text: 12px;

$line-height: 1.2;
$letter-spacing: 1px;

// buttons
$button-height: 40px;
$button-width: 100%;
$button-radius: 10px;
$button-padding: 20px 10px;
$button-font-size: 20px;
$button-font-weight: $font-weight-bold;
$button-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


//images
$main-background:url('../images/landing_bg.webp');
$card-background:url('../images/card_bg.webp');
$dashboard-background:url('../images/landing_bg.webp');
$stamping-background: url('../images/landing_bg.webp');
$weekday-background: url('../images/landing_bg.webp');
$weekend-background: url('../images/landing_bg.webp');
$referral-background: url('../images/landing_bg.webp');

$back-btn-img: url('../images/backbtn.webp');
//content
$content-padding: 40px 20px;


//modal
$modal-border-radius: 1px;

